 <div id="topRowContent">


<div id="wizard" class="wizard-default-style js view">
		
	
		<ul class="steps">
			<li>Services</li>
			<li>Problem</li>
			<li>Quote</li>
			<li>Appointment</li>
		</ul>

		
		<!-- Step Content Container -->
		<div class="step_content">
			
			<!-- Wizard - Step 1 -->
			<div id="step-1" class="step two_column row">
				
<div class="container">

<div class="row">

       <div class="span9">
           <div class="row">
         <div class="span5 pull-right">
         	{{#if inbounds}}
						<div id="choices">
							What would you rather do? <br>
							<a class="btn btn-large btn-block btn-primary">Bring Computer To Us</a>
							<a class="btn btn-large btn-block btn-primary">Have Us Collect and Return Computer</a>
						</div>
					{{/if}}

					{{#unless inbounds}}
						<a class="btn">Tell us about your problem</a>
					{{/unless}}
				</div>

          <div class="span4"><div id="PostCodeRegion" class="full-height services">
					<p>The following services are available in <strong>{{postcode}}</strong>:</p><br>
					<ul>
						<li><strong>Bring to Us </strong></li>
						{{#if inbounds}}<li>
						<strong>Collect and return</strong><br>
						</li>{{/if}}
					</ul>
					</div>
				</div>
           </div><!-- end nested row -->
    </div><!-- end span9 -->

        <div class="span3">Total: £0</div>

    </div><!-- end parent row-->

 </div><!-- end container -->  



			

				
			</div>

	
			<div id="step-1" class="step two_column">
				
				<div class="column_one">
				<p>Its funny - sometimes people show faces to other people</p>
				</div>
				
				<div class="column_two">
					<p>When me and the guys were at church last week we noticed that there was a car on the website</p>
				</div>
				
			</div>
	
			
		</div>

		
		
</div>

 </div>