<div id="presenter">

<div class="row">
<h1>Make an Appointment</h1>
</div>

<div class="row">
<p> To make an appointment for our free collect & return service, simply select your 
       region, pick a date that suits, and fill in a few details:</p>
   <p>We begin our collections from 5:30 in the evenings and service the Belfast &amp; 
       Downpatrick areas. </p>
        <p>If you include your mobile number we can send you an automatic text when we are 
            nearly with you.</p>
        
        
        <div align=left> <span class="style1">Collection Days:<br /><b>Mon &amp; Thur&nbsp;&nbsp;&nbsp; 
            </b>&nbsp;5:30pm - 8pm<br />
            <br />
        
    </span>
            For customers outside our service area, or those who would prefer to bring the 
            machine to us <strong><span>Mon - Thur</span> </strong>please <span><a href="/BringToUs">
            click here</a><br />
   
    
    
        </div>
        
    </span>
   
   
    
</div>



  <div id="appointmentWizard-container" class="row">

</div>

<div>
<img class="pull-right pull-down" src="images/bookimage.jpg" style="width: 283px; height: 424px" /></div>
</div>

</div>