<div id="presenter">
    <div class="row">      
        <div class="span4">
            <div id="PostCodeRegion">

                <div id="WelcomeText">
          
                    <p>Welcome to <strong><em>Dr PC Computer & Laptop Repair Belfast</em></strong>.</p>
                    <p>
                    To get a <strong><em>quick quote & find services in your</em></strong> enter your <strong><em>postcode</em></strong> in the box below and hit the enter key</p>
                    <div id="validPostcode" class="alert alert-error">
                    <div id="postcodeResult"></div>
                    </div>
                    <p><input id="postcodeBox" name="postcode" class="postcodeboxdiv" type="text" value="BT"></input>
                </div>                    
            </div>                       
        </div>



        <div class="span7">

<div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="5" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="6" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="7" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="/images/a1.jpg" alt="">
                   
                  </div>
                  <div class="item">
                    <img src="/images/a2.jpg" alt="">
                  
                  </div>
                  <div class="item">
                    <img src="/images/a3.jpg" alt="">
                   
                  </div>
                  <div class="item">
                    <img src="/images/a4.jpg" alt="">
                   
                  </div>
                  <div class="item">
                    <img src="/images/a5.jpg" alt="">
                   
                  </div>
                  <div class="item">
                    <img src="/images/a6.jpg" alt="">
                   
                  </div>
                  <div class="item">
                    <img src="/images/a7.jpg" alt="">
                   
                  </div>
                  <div class="item">
                    <img src="/images/a8.jpg" alt="">
                   
                  </div>
                </div>
              </div>



        </div>
    </div>


    <div class="row">
      <div class="span4 homecols">
       
                    <div class="row">
                        <a href="../aboutus">
                            <img src="/images/promises1.jpg"  border="0"></a>
                    </div>

                    <div class="row">                        
                            <div class="span1">
                                <img src="/images/promises2.jpg">
                            </div>
                            <div class="span3">We provide a reliable and affordable <em>Computer repair</em>
                                service in the <em>Belfast</em> area -Why not <a href="../Book"> <strong><em>Book an appointment now</em></strong></a> ?</div>
                    
                    </div>

                    <div class="row">
                        <img src="/images/promises7.jpg" width="232" height="23">
                    </div>

                    <div class="row">
                    
                            <div class="span1">
                                <img alt="" src="/images/promises4.jpg">
                            </div>

                            <div class="span3">
                                Virus removal - <b>£30</b>
                                <br>
                                Laptop screen fitted - <b>£40</b>
                                <br>
                                Memory Upgrade - <b>£30</b><br>
                                VHS to DVD - <b>£10</b><br>
                                Laptop keyboard fitted - <b>£20</b><br>
                                Xbox &amp; PS3 repair - See <a href="../Prices"><strong><em>Prices</em></strong></a>
                            </div>

                    </div>

                    <div class="row">
                        <img src="/images/promises7.jpg" alt="" width="232" height="23">
                    </div>

                    <div class="row">
                       
                            <div class="span1">
                                <img src="/images/promises6.jpg" width="67" height="55">
                            </div>

                            <div class="span3">
                                Using our online tracking system you can <i><a href="../login">
                                <strong>track your repair</strong></a></i> 24/7 
                            </div>
                        
                    </div>

                    <div class="row">
                        <img src="/images/promises7.jpg" alt="" width="232" height="23">
                    </div>


                    <div class="row">
                       
                            <div class="span1">
                                <img src="/images/promises5.jpg" width="67" height="70">
                            </div>

                            <div class="span3">We are quite confident we can repair your computer. But in the
                                event we cant fix your machine you <i>wont be charged</i> a penny</div>
                      
                    </div>
                    <div class="row">
                        <img src="/images/promises7.jpg" alt="" width="232" height="23">
                    </div>
                    <div class="row">
                        
                            <div class="span1">
                                <img src="/images/promises3.jpg" width="67" height="72"></div>
                            <div class="span3">We aim to have your machine back to you within <i>3 working days</i>
                                or sooner. On some jobs we offer an express 24 hour repair service.&nbsp; Get a
                                <strong><em><a href="/Quote/NoPostcodeQuote.aspx">Quick Quote</a></em></strong> to find out if your 
                                job qualifies.</div>
                       
                    </div>
                    <div class="row">
                        <img src="/images/promises7.jpg" alt="" width="232" height="23">
                    </div>
              
      </div>

      <div class="span4 homecols moveDown">        
            <div class="row giveUsABorder">
                    <h5>
                        Virus Removal &amp; Data recovery</h5>
                    Need a virus removal or data recovery service in Belfast?<br>
                    No problem, we offer a range of affordable computer &amp; laptop repair services. We 
                    can help you remove viruses from your system and prevent them returning. Unlike 
                    some other companies we can work with you to ensure that your most important 
                    data is recovered from your hard drive. We also offer an express service on this 
                    job, get a <strong><em><a href="/Quote/NoPostcodeQuote.aspx">quick quote</a></em></strong> to find 
                    out more.<br>
                    <br>
                    Our cheap virus removal, (format &amp; restore to factory settings) service is only
                    <b>£40</b> or <b>£30</b> if you back up your own files before hand.<br>
                    <br>
                    Our affordable data recovery services start from £30 depending on the size of your
                    hard drive.<br>
                    <br>
                    <img alt="" src="/images/virus1.jpg"><br>
                    <br>
                    <h5>
                        VHS to DVD</h5>
                    <p>
                        Cheap VHS to DVD Conversion Service :
                        <br>
                        For <b>£10</b> per tape we can convert your old VHS into the more versatile DVD
                        format.</p>
                    <p>
                        Camcorder to DVD Conversion Service :
                        <br>
                        For <b>£10</b> per tape we can convert your&nbsp; camcorder tapes into DVD format.</p>
                    <p>
                        &nbsp;<b>£5</b> For any additional copies or <strong>£10</strong> for four copies.</p>
        </div>
        
      </div>



      <div class="span4 homecols moveDown">
        <div class="row">
                    <h5>
                        Laptop Screen Repair</h5>
                    Faulty or cracked laptop screen?
                    <p>
                        Laptop Repair :</p>
                    <p>
                        Laptop screen replacement in Belfast for <b>£40</b>. Get a <a href="/Quote/NoPostcodeQuote.aspx">
                        <strong><em>Quick quote</em></strong></a>
                        to find the full price for your make and model<p>
                            .<img alt="" class="laptopman" src="/images/chat1.jpg" /></p>
                        <h5>
                            XBox DVD Drive Repair</h5>
                        Xbox discs not being read? Faulty xbox disc drive?<br />
                        <br />
                        For an affordable <strong>£60</strong> we offer an Xbox 360 DVD drive replacement
                        service.&nbsp; We use an exact match drive to ensure your xbox does not get banned
                        from live.<br />
                        <br />
                        Turn overtime for this repair depends on our supplier having the part. It takes
                        us a day to switch the drive. Typical turn over 3-5 working days.
                        <br />
                        <a href="../Book"><strong><em>Book an appointment now</em></strong></a>
            </div>

      </div>

    </div>

</div>