<header class="header-container" id="header-container"></header>

<div class="container outer-container">
  <div class="page-container" id="page-container">
  </div>
</div>

<footer class ="footer-container" id="footer-container"></footer>