<div id="presenter">

<h1>Prices</h1>

   <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th scope="col">
                        <div align="center">
                            Service
                        </div>
                    </th>
                    <th scope="col" >
                        <div align="center">
                            Includes</div>
                    </th>
                    <th scope="col" >
                        <div align="center">
                            Cost</div>
                    </th>
                </tr>
                <tr>
                    <th scope="col" >
                        <div align="center">
                            <a id="1" name="1"></a>Remote Assistance </br> <a href="#top">top</a>
                        </div>
                    </th>
                    <td scope="col" >
                        <div align="center">
                            -Remotely taking control of your computer to sort your problem there and then</div>
                    </td>
                    <th scope="col" >
                        <div align="center">
                            £10.00</div>
                    </th>
                </tr>
                <tr>
                    <th scope="col" >
                        <div align="center">
                            <a id="2" name="2"></a>PC Health Check </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td scope="col" >
                        <div align="center">
                            -Diagnose any hardware problems - Diagnose any blue screen problems
                        </div>
                    </td>
                    <th scope="col" >
                        <div align="center">
                            £20.00</div>
                    </th>
                </tr>
                <tr>
                    <th scope="row" >
                        <div align="center">
                            <a id="3" name="3"></a>Minor Fixes </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td>
                        <div align="center">
                            -Restore computer to factory settings, no file backup - Simple fixes or tweaks that
                            can't be fixed remotely - Upgrade memory
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <strong>£30.00</strong></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" >
                        <div align="center">
                            <a id="4" name="4"></a>Reformat &amp; Clear viruses </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td>
                        <div align="center">
                            -All Viruses removed -Files backed up &amp; restored -Restore computer to factory
                            settings
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <strong>£40.00</strong></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" >
                        <div align="center">
                            <a id="5" name="5"></a>Install new hardware </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td>
                        <div align="center">
                            -Year warranty on all fitted parts - Upgrade hard drive space, graphics, cpu, repair
                            laptop screens -New laptop keyboard (keyboard &amp; labour)
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <strong>£40.00</strong></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" >
                        <div align="center">
                            <a id="6" name="6"></a>Setup wireless network </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td>
                        <div align="center">
                            -Secure your network and personal information.</div>
                    </td>
                    <td>
                        <div align="center">
                            <strong>£10.00 via remote £20.00 if call out required</strong></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" >
                        <div align="center">
                            <a id="7" name="7"></a>Recover lost files </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td>
                        <p align="center">
                            -Files scanned for viruses</p>
                        <p align="center">
                            - Files burnt to Disc</p>
                    </td>
                    <td>
                        <div align="center">
                            <strong>£30.00 for 4Gig</strong> <strong>£50.00 for over 4Gig</strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div align="center">
                            <a id="8" name="8"></a>VHS or Camcorder to DVD </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td>
                        <p align="center">
                            <span>If you have any old VHS or camcorder cassettes that you want converted to DVD
                                format we can do this</span></p>
                    </td>
                    <td>
                        <div align="center">
                            &nbsp;
                        </div>
                        <div align="center">
                            <strong>£10.00</strong>
                        </div>
                        <div align="center">
                            +£5 for 1 additional copy or
                        </div>
                        <div align="center">
                            +£10 for 4 extra copies
                        </div>
                        <div align="center">
                            &nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div align="center">
                            <a id="10" name="10"></a>Xbox 360 Repairs </br>  <a href="#top">top</a>
                        </div>
                    </th>
                    <td >
                        <p align="center">                       
                            <strong>Prices include
                                parts &amp; labour</strong></p>
                  
                        <p align="center">
                            Replacement DVD Drive</p>
                        &nbsp;
                        <p align="center">
                            Warranty – 1 Month
                        Repair time – 1 – 3 days depending on parts available</p>
                    </td>
                    <td>
                        <div align="center">
                            &nbsp;
                        </div>
                        <div align="center">
                            &nbsp;
                        </div>
                        &nbsp;
                        <div align="center">
                            <strong>£60.00</strong>
                        </div>
                        <div align="center">
                            &nbsp;
                        </div>
                        <div align="center">
                            &nbsp;
                        </div>
                        <div align="center">
                            &nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div align="center">
                            Other Jobs </br>  <a href="#top">top</a></div>
                    </th>
                    <td>
                        <p align="center">
                            <span>We meet new problems and challenges every day, we are open to suggestions and
                                are happy to help with any issue.</span></p>
                    </td>
                    <td>
                        <div align="center">
                            &nbsp;
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
</div>