@import 'nib'

#presenter
  padding-top: 70px

#PostCodeRegion
	background: url('/images/topleftstarted.jpg') no-repeat 

#WelcomeText
	padding-top: 80px
	padding-left: 35px

.postcodeboxdiv
	outline:none !important
	font-weight:bold
	font-size: 150% !important
	border:none !important
	box-shadow:none !important;
	height:45px !important
	width:215px !important
	background:url('/images/postcodebox.jpg') no-repeat 50% bottom
	padding:0.2em 0 0.2em 30px !important

.giveUsABorder
	border-style:solid
	border-width:7px
	border-color:white

.moveDown
	padding-top: 15px

h5
	color: orange