@import 'nib'


#view
	min-height:240px

#spinner
	padding-left: 45%
	padding-top: 70px

.current
	padding-right:50px !important
	padding-left:10px !important


.steps > li
	padding-right:50px !important
	padding-left:10px !important