@import 'nib'


.view
	min-height:340px !important

#spinner
	padding-left: 45%
	padding-top: 70px

.current
	padding-right:50px !important
	padding-left:10px !important


.steps > li
	padding-right:50px !important
	padding-left:10px !important

.full-height
	height: 100%

#PostCodeRegion
	background: url('/images/topleftstarted.jpg') no-repeat 

.services
	margin-left:10px
	padding-left:50px
	padding-top:70px